</body>

<footer>
  <!-- JS, Popper.js, and jQuery -->

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
   

  <div style="padding-top:20px;">

    <i style="padding-right:20px ;" class="fab fa-twitter"></i> <i style="padding-right: 20px;"
      class="fab fa-facebook-f"></i> <i
        style="padding-right:20px ;" class="fab fa-instagram"></i> </a> <i class="fas fa-envelope"></i>
  </div>
  <p style="color:black;text-align:center;" class="mt-5 mb-3 text-muted">copyrights
    &copy;2020</p>
  <!-- <script>
    window.onload = function() {
        history.replaceState("", "", "/individual");
    }
</script> -->
</footer>

</html>
